/* ------------------------------------------- */
/* Variables */
/* ------------------------------------------- */
$primaryBlack: #191a1d;
$secondaryBlack: #121316;
$primaryRed: #E81123;
$secondaryRed: #BD081C;
$testRed: #EA2027;
$gray1: #ababab;
$gray2: #919191;
$gray3: #f6f6f6;